header {
  background-color: transparent;
  height: 450px;
  background-image: url(../img/background4.jpg);
  background-size: cover;
  font-size: 40;
}

.awe {
  text-align: center;
  background-color: transparent;
  color: #e6005c;
  padding: 150px;
  font-size: 40;
}

#mainnav {
  background-color: transparent;
  color: skyblue;
  font-size: 24;
}

.fixed-top {
  position: fixed;
}

li {
  line-height: 2;
  color: #5900b3;
  float: right;
  text-align: right;
  padding-right: 150px;
}

a {
  color: #5900b3;
  text-align: right;
}

h2 {
  font-size: 50;
}
